@import './variables';

.wrapper {
  flex-direction: column;
  align-items: center;
  height: 55vh;

  .content {
    display: flex;
    max-width: 60%;

    .photo {
      width: 8rem;
      border-radius: 50%;
      height: 8rem;
      object-fit: cover;
      object-position: 0 20%;
    }

    .socials {
      img {
        fill: $green;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      font-size: .9rem;

    }
  }
}