@import './variables';

.wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem;
  gap: 6rem;
  height: 65vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 30rem;

    input {
      height: 2rem;
    }

    textarea {
      resize: none;
      height: 8rem
    }

    input, textarea {
      outline: none;
      border: none;
      border-radius: .3rem;
      padding: .1rem .3rem;
      background-color: $orange;
      width: 100%;
      transition: all 300ms ease-in-out;

      &::placeholder {
        color: $black;
        font-size: .9rem;
        transition: color 300ms ease-in-out;
      }
    }

    button {
      width: fit-content;
      height: 2rem;
      background-color: transparent;
      border: none;
      color: $darkgrey;
      font-size: 1rem;
      transition: all 0.3s ease-out;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 100%;
        background-color: $darkgrey;
        transition: all 0.3s ease-out;
      }

      &:hover,
      &:active {
        color: $orange;

        &::before {
          background-color: $orange;
        }
      }
    }
  }
}

.dark {
  .container {
    input, textarea {
      background-color: $purple;
      color: $white;

      &::placeholder {
        color: $white;
      }
    }

    button {
      color: $blue-gray;

      &::before {
        background-color: $blue-gray;
      }

      &:hover,
      &:active {
        color: $purple;

        &::before {
          background-color: $purple;
        }
      }
    }
  }
}