@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import './variables';
@import './global';

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10vh;

  & > div {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    width: 78vw;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    p {
      font-family: 'Saira Stencil One', cursive;
      font-size: 2rem;
      line-height: 100%;
      width: 100px;
    }
  }

  nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      li {
        a {
          @include lightShadow;
          color: $darkgrey;
          transition: all 0.2s ease-out;
          position: relative;
          border-radius: 1.5rem;
          padding: 0.8rem 1.2rem;

          &:hover,
          &:active,
          &.active {
            color: $orange;
          }

          &:active,
          &.active {
            @include lightShadowActive;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1921px) {
  .header {
    height: 12vh;

    & > div {
      padding: 2rem;
      max-width: 1600px;
    }

    .logo {
      p {
        font-size: 3rem;
      }
    }

    nav {
      ul {
        gap: 3rem;

        li {
          a {
            border-radius: 2rem;
            padding: 1rem 1.8rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 1440px) {
//   .header {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     height: 10vh;

//     & > div {
//       display: flex;
//       flex-direction: row;
//       padding: 1rem;
//       justify-content: space-between;
//       box-sizing: border-box;
//       max-width: 1440px;
//       width: 78vw;
//       align-items: center;
//     }

//     .logo {
//       display: flex;
//       align-items: center;

//       p {
//         font-family: 'Saira Stencil One', cursive;
//         font-size: 2rem;
//         line-height: 100%;
//         width: 100px;
//       }
//     }

//     nav {
//       display: flex;
//       list-style-type: none;
//       justify-content: center;
//       align-items: center;

//       ul {
//         display: flex;
//         list-style-type: none;
//         justify-content: center;
//         align-items: center;
//         gap: 2rem;

//         li {
//           a {
//             color: $darkgrey;
//             transition: all 0.2s ease-out;
//             position: relative;
//             border-radius: 1.5rem;
//             padding: 0.8rem 1.2rem;
//             box-shadow: 0.2rem 0.2rem 0.5rem $light-shadow-2,
//               -0.2rem -0.2rem 0.5rem rgba($white, 0.7);

//             &:hover,
//             &:active,
//             &.active {
//               color: $orange;
//             }

//             &:active,
//             &.active {
//               box-shadow: 0.2rem 0.2rem 0.5rem $light-shadow-2,
//                 -0.2rem -0.2rem 0.5rem rgba($white, 0.7),
//                 inset 0.2rem 0.2rem 0.2rem rgba($darkgrey-light, 0.1),
//                 inset -0.2rem -0.2rem 0.5rem $white;
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 576px) {
  .header {
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 1;

    & > div {
      display: flex;
      flex-direction: row;
      padding: 0;
      justify-content: center;
      width: 100vw;
      align-items: center;
    }

    .logo {
      display: none;
    }

    nav {
      width: 100%;
      height: 100%;

      ul {
        width: 100%;
        height: 100%;
        gap: 0;
        justify-content: space-around;

        li {
          aspect-ratio: 1.618;
          display: flex;
          align-items: center;
          width: 20vw;

          a {
            border-radius: 1rem;
            width: 100%;
            padding: 30px 0;
            text-align: center;
            -webkit-tap-highlight-color: transparent;
          }
        }
      }
    }

    .theme-button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.dark {
  .logo svg {
    fill: $blue-gray;
  }

  nav {
    ul {
      li {
        a {
          @include darkShadow;
          color: $blue-gray;

          &:hover,
          &:active,
          &.active {
            color: $purple;
          }

          &:active,
          &.active {
            @include darkShadowActive;
          }
        }
      }
    }
  }
}
