@import './global';
@import './variables';

.wrapper {
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    @include SairaFont;
    font-size: 8rem;
    line-height: 9rem;
  }

  h3 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    max-width: 50rem;
    margin: 1rem 0 0 0;
  }
}

@media screen and (max-width: 1600px) {
  .wrapper {
    h1 {
      font-size: 6rem;
      line-height: 7rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    h1 {
      font-size: 5rem;
      line-height: 6rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding: 5rem 1rem;
    overflow: hidden;

    h1 {
      @include SairaFont;
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}
