@import './variables';

.wrapper {
  border-radius: 0.8rem;
  display: flex;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
  height: 65vh;
}

.light {
  background-color: $blue-gray;
  color: $darkgrey;
  filter: drop-shadow(0 0.2rem 0.7rem rgba($darkgrey-light, 0.2));
}

.dark {
  background-color: $darkgrey;
  filter: drop-shadow(0 0.2rem 1rem $black);
  color: $blue-gray;
}
