@import './global';
@import './variables';

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  border-radius: 1rem;
  width: 18rem;
  height: 25rem;
  filter: drop-shadow(0 0.2rem 0.7rem $light-shadow);
  transition: all 300ms ease-in-out;

  h2 {
    transition: all 300ms ease-in-out;
    color: $darkgrey;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
  }
}