@import './variables';
@import './global';

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    @include lightShadow;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 300ms ease-out;

    &:active {
      @include lightShadowActive;
    }

    svg {
      display: inline-block;
      width: 2rem;
      fill: $darkgrey;
      transition: all 300ms ease-out;

      &:hover {
        fill: $orange;
      }
    }
  }
}

.dark {
  a {
    @include darkShadow;

    &:active {
      @include darkShadowActive;
    }

    svg {
      fill: $blue-gray;

      &:hover {
        fill: $purple;
      }
    }
  }
}