@import './variables';

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    svg {
      width: 1.5rem;
      fill: $darkgrey;
      transition: all 300ms ease-out;

      &:hover {
        fill: $orange;
      }
    }
  }
}

.dark {
  a {
    svg {
      fill: $blue-gray;

      &:hover {
        fill: $purple;
      }
    }
  }
}